# R / RStudio
.Rproj.user/
.Rhistory
.RData
.Ruserdata

# OS noise
.DS_Store
Thumbs.db

#Ignore document formats
*.docx
*.pdf
*.pptx
*.zip

# Quarto / Rmd cache
*_cache/
_cache/
*.knit.md
*.utf8.md
*.html

# Outputs & reports (keep README placeholders)
3-outputs/31-product-store/*
!3-outputs/31-product-store/README.md
2-processes/21-production-hub/reports/*
!2-processes/21-production-hub/reports/README.md

# Inputs handling
# Ignore bulky raw data dumps or heavy documents, but keep reproducible 
# code + .md files
1-inputs/**
!1-inputs/
!1-inputs/11-knowledge-base/
!1-inputs/11-knowledge-base/**
!1-inputs/12-analytical-engine/
!1-inputs/12-analytical-engine/**
*.zip
*.docx
*.pdf
